# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
*.db
.pytest_cache/
.coverage
htmlcov/
*.log
*.pid
*.lock

# Node
node_modules/
npm-debug.log*
yarn-debug.log*

















